      <footer id='footer'>
        <div id='footer-main'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-4 col-sm-push-3 col-md-4 col-md-push-3 info-box'>
                <h2 class='title'>Contact</h2>
                <div class='icon-boxes'>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-map-marker'></i>
                    </div>
                    <div class='content'>
                      47 South Street
                      <br>
                      Isleworth, London TW7 7AA
                    </div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-phone'></i>
                    </div>
                    <div class='content'>
                      <a href='tel:+012345678'>+44 2071 646 839?</a>
                    </div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-envelope'></i>
                    </div>
                    <div class='content'><a href="mailto:info@bublinastudio.com"> info@academiatranslations.co.uk </a></div>
                  </div>
                </div>
              </div>
              <div class='col-sm-4 col-sm-push-3 col-md-4 col-md-push-3 info-box'>
                <div class=''>
                  <a >
                    <%= link_to root_path, class: "navbar-wagon-brand-large" do %>
                      <%= image_tag "at/logo_with_name.png" %>
                      <% end %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id='footer-copyright'>
          <div class='container'>
            <div class='row'>
              <div class='col-lg-12 clearfix'>
                <p class='copyright'>
                  Academia Translations
                  &copy;
                  2016
                </p>
                <div class='links'>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='https://twitter.com/AcademiaTransl8'>
                    <i class='fa fa-facebook text-dark'></i>
                  </a>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='https://www.facebook.com/Academia-Translations-107221282700059'>
                    <i class='fa fa-twitter text-dark'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
