      <footer id='footer'>
        <div id='footer-main'>
          <div class='container'>
            <div class='row'>
              <div class='col-md-3 col-sm-6 info-box'>
                <div class='logo-container'>
                  <a >
                    <%= link_to root_path, class: "navbar-wagon-brand padded" do %>
                      <%= image_tag "at/logo_at.png" %>
                      <% end %>
                  </a>
                </div>

              </div>
              <div class='col-md-3 col-sm-6 info-box'>
                <h2 class='title'>Contact</h2>
                <div class='icon-boxes'>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-map-marker'></i>
                    </div>
                    <div class='content'>
                      4567 Street name,
                      <br>
                      012 12 City name, Country
                    </div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-phone'></i>
                    </div>
                    <div class='content'>
                      <a href='tel:+012345678'>+012 345 678</a>
                    </div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-envelope'></i>
                    </div>
                    <div class='content'><a href="mailto:info@bublinastudio.com">info@bublinastudio.com</a></div>
                  </div>
                  <div class='icon-box'>
                    <div class='icon icon-wrap'>
                      <i class='fa fa-globe'></i>
                    </div>
                    <div class='content'><a href="#">www.bublinastudio.com</a></div>
                  </div>
                </div>
              </div>
              <div class='col-md-3 col-sm-6 info-box'>
                <h2 class='title'>Newsletter</h2>
                <p>Proin condimentum, nisi vel vestibulum ultricies, nunc elit.</p>
                <form action='index.html' class='form-inline form-validation' method='get'>
                  <div class='row'>
                    <div class='form-group control-group col-xs-9 col-md-8 col-lg-9'>
                      <input class='form-control' data-rule-email='true' data-rule-required='true' id='newsletter_email' name='newsletter[email]' placeholder='Email address' type='email'>
                    </div>
                    <div class='col-xs-3 col-md-4 col-lg-3'>
                      <button class='btn btn-medium-light btn-block' type='submit'>
                        <i class='fa fa-reply text-white'></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id='footer-copyright'>
          <div class='container'>
            <div class='row'>
              <div class='col-lg-12 clearfix'>
                <p class='copyright'>
                  Academia Traslations
                  &copy;
                  2016
                </p>
                <div class='links'>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                    <i class='fa fa-twitter text-dark'></i>
                  </a>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                    <i class='fa fa-dribbble text-dark'></i>
                  </a>
                  <a class='btn btn-circle btn-medium-light btn-sm' href='#'>
                    <i class='fa fa-facebook text-dark'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
