

      <header id='header-jordi'>
        <div class='container'>
          <nav class='navbar navbar-collapsed-sm navbar-default' id='nav' role='navigation'>
            <div class='navbar-header'>
              <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
              </button>
              <a >
                <%= link_to root_path, class: "navbar-wagon-brand padded" do %>

                  <%= cl_image_tag("at/Academia.png", :client_hints=>true, :transformation=>[{:dpr=>"auto"}]) %>
                  <% end %>
              </a>


            </div>
            <div class='collapse navbar-collapse navbar-header-collapse'>
              <ul class='nav navbar-nav navbar-right'>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='home.html'>
                   <a href="/home.html">
                    <span>
                      Home
                    </span>
                   </a>
                  </a>
                </li>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='about.html'>
                   <a href="/about.html">
                    <span>
                      About us
                    </span>
                   </a>
                  </a>
                </li>
                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='services'>
                   <a href="/services.html">
                    <span>
                      Services
                    </span>
                  </a>
                </a>
                </li>

                <% if current_user %>
                  <li class='dropdown'>
                    <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='blog.html'>
                    <a href="/articles.html">
                      <span>
                        Blog
                      </span>
                      </a>
                    </a>
                  </li>
                <% end %>

                <li class='dropdown'>
                  <a class='dropdown-toggle' data-delay='50' data-hover='dropdown' data-toggle='dropdown' href='media.html'>
                    <a href="/media.html">
                    <span>
                      Media
                    </span>
                    </a>
                  </a>
                </li>

              </ul>
            </div>
          </nav>
        </div>
      </header>

