
      <div id='main' role='main'>
        <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>
                  About us
                  <small>Nam porta lectus a sodales pulvinar. Morbi sed auctor magna.</small>
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon no-mg-t'>
                  <i class='fa fa-tag'></i>
                  <h2>
                    Who we are
                  </h2>
                </div>
                <div class='row'>
                  <div class='col-sm-12'>
                    <p class='lead lead-xs text-center'>Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie. Cras pulvinar posuere massa sed scelerisque.  Nam porta ac turpis id dapibus. Morbi facilisis eu nibh pulvinar convallis. Proin rutrum nisi ante, eu fringilla metus aliquam non. Vestibulum posuere, mauris sit amet.</p>
                  </div>
                </div>
              </div>
            </div>


            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-group'></i>
                  <h2>
                    Our team
                  </h2>
                </div>
                <div class='profile-boxes'>
                  <div class='row'>
                    <div class='col-sm-6 profile-box'>
                      <div class='row'>
                        <div class='col-sm-4'>
                          <a class='image-link' data-lightbox data-lightbox-gallery='team' href='http://placehold.it/800x800&amp;text=Big+image' title='David Doe'>
                            <i class='fa fa-envelope'></i>
                            <img alt="David Doe" width="165" height="165" src="http://placehold.it/165x165" />
                          </a>
                        </div>
                        <div class='col-sm-8'>
                          <h3 class='name'>David Doe</h3>
                          <h4 class='position'>Product manager</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dictum varius ipsum,</p>
                          <div class='links'>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-twitter'></i>
                            </a>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-google-plus'></i>
                            </a>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-facebook'></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='col-sm-6 profile-box'>
                      <div class='row'>
                        <div class='col-sm-4'>
                          <a class='image-link' data-lightbox data-lightbox-gallery='team' href='http://placehold.it/800x800&amp;text=Big+image' title='Jane Doe'>
                            <i class='fa fa-heart-o'></i>
                            <img alt="Jane Doe" width="165" height="165" src="http://placehold.it/165x165" />
                          </a>
                        </div>
                        <div class='col-sm-8'>
                          <h3 class='name'>Jane Doe</h3>
                          <h4 class='position'>Webdesigner</h4>
                          <p>Praesent eu placerat enim, vitae condimentum arcu. Aenean ac semper purus.</p>
                          <div class='links'>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-twitter'></i>
                            </a>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-dribbble'></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-sm-6 profile-box'>
                      <div class='row'>
                        <div class='col-sm-4'>
                          <a class='image-link' data-lightbox data-lightbox-gallery='team' href='http://placehold.it/800x800&amp;text=Big+image' title='John Doe'>
                            <i class='fa fa-camera-retro'></i>
                            <img alt="John Doe" width="165" height="165" src="http://placehold.it/165x165" />
                          </a>
                        </div>
                        <div class='col-sm-8'>
                          <h3 class='name'>John Doe</h3>
                          <h4 class='position'>SEO specialist</h4>
                          <p>Ut et quam at orci eleifend laoreet. Duis in eros eu purus pulvinar fermentum.</p>
                          <div class='links'>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-twitter'></i>
                            </a>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-skype'></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='col-sm-6 profile-box'>
                      <div class='row'>
                        <div class='col-sm-4'>
                          <a class='image-link' data-lightbox data-lightbox-gallery='team' href='http://placehold.it/800x800&amp;text=Big+image' title='Jessica Doe'>
                            <i class='fa fa-camera-retro'></i>
                            <img alt="Jessica Doe" width="165" height="165" src="http://placehold.it/165x165" />
                          </a>
                        </div>
                        <div class='col-sm-8'>
                          <h3 class='name'>Jessica Doe</h3>
                          <h4 class='position'>Programmer</h4>
                          <p>Vivamus et malesuada leo. Duis iaculis in ipsum at tempor. Ut rutrum dolor quis du.</p>
                          <div class='links'>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-twitter'></i>
                            </a>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-github'></i>
                            </a>
                            <a class='btn btn-medium-light btn-sm btn-circle' href='#'>
                              <i class='fa fa-facebook'></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-certificate'></i>
                  <h2>
                    Our top clients
                    <small>Aliquam placerat, nunc non ullamcorper rutrum, odio urna aliquam dui, a scelerisque purus dui et libero.</small>
                  </h2>
                </div>
                <div class='row'>
                  <div class='col-sm-12'>
                    <div class='client-slideshow cycle-slideshow' data-cycle-carousel-fluid='true' data-cycle-fx='carousel' data-cycle-timeout='2000'>
                      <img alt="" width="140" height="33" src="http://placehold.it/140x33" />
                      <img alt="" width="140" height="33" src="http://placehold.it/140x33" />
                      <img alt="" width="140" height="26" src="http://placehold.it/140x26" />
                      <img alt="" width="139" height="32" src="http://placehold.it/139x32" />
                      <img alt="" width="151" height="28" src="http://placehold.it/151x28" />
                      <img alt="" width="31" height="38" src="http://placehold.it/31x38" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>
