<div id='main' role='main'>
        <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>
                  Blog (Single post)
                </h1>
                <ol class='breadcrumb'>
                  <li>
                    <a href='index.html'>
                      <i class='fa fa-home'></i>
                    </a>
                  </li>
                  <li>
                    <a href='blog_large.html'>
                      Blog
                    </a>
                  </li>
                  <li class='active'>Blog (Single post)</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
                <nav class='sidebar'>
                  <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                  </button>
                  <div class='sidebar-collapse collapse'>
                    <div class='box'>
                      <h3 class='title'>Search in blog</h3>
                      <form action='blog_large.html' method='get'>
                        <div class='input-group'>
                          <input class='form-control' placeholder='Search...' type='text'>
                          <span class='input-group-btn'>
                            <button class='btn btn-contrast' type='button'>
                              <i class='fa fa-search'></i>
                            </button>
                          </span>
                        </div>
                      </form>
                    </div>
                    <div class='box'>
                      <h3 class='title'>Categories</h3>
                      <div class='list-group'>
                          <a class="list-group-item" href="#"><i class='fa fa-angle-right fa fa-fixed-width'></i>
                        Quisque et fringilla
                        </a>

                          <a class="list-group-item active" href="#"><i class='fa fa-angle-right fa fa-fixed-width'></i>
                        Etiam bibendum
                        </a>

                          <a class="list-group-item" href="#"><i class='fa fa-angle-right fa fa-fixed-width'></i>
                        Vestibulum
                        </a>

                          <a class="list-group-item" href="#"><i class='fa fa-angle-right fa fa-fixed-width'></i>
                        Mauris gravida
                        </a>

                          <a class="list-group-item" href="#"><i class='fa fa-angle-right fa fa-fixed-width'></i>
                        Magna dui
                        </a>

                          <a class="list-group-item" href="#"><i class='fa fa-angle-right fa fa-fixed-width'></i>
                        Adipiscing elementum
                        </a>

                      </div>
                    </div>
                    <div class='box'>
                      <h3 class='title'>Photostream</h3>
                      <ul class='list-unstyled list-inline image-list-box'>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="https://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="https://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="https://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="https://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="https://placehold.it/50x50" />
                          </a>
                        </li>
                        <li>
                          <a href='#'>
                            <img alt="Jednotka" width="50" height="50" src="https://placehold.it/50x50" />
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class='box social-box'>
                      <h3 class='title'>Latest tweets</h3>
                      <div class='icon-boxes icon-boxes-nowrap'>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-twitter text-contrast'></i>
                          </div>
                          <div class='content'>
                            <p>
                              Phasellus vulputate lobortis sem. Mauris id velit in urna.
                              <br>
                              <a class='time' href='#'>
                                <i>1 hour ago</i>
                              </a>
                            </p>
                          </div>
                        </div>
                        <div class='icon-box'>
                          <div class='icon icon-wrap'>
                            <i class='fa fa-twitter text-contrast'></i>
                          </div>
                          <div class='content'>
                            <p>
                              Etiam luctus, dui congue tempus blandit, dui.
                              <br>
                              <a class='time' href='#'>
                                <i>3 hours ago</i>
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
              <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
                <div class='text-boxes'>
                  <div class='row text-box text-box-title-above text-box-big-image'>
                    <div class='col-sm-12'>
                      <h2 class='title'><a href="/blog_single_post.html">Cras tempus ligula a tempor adipiscing</a></h2>
                      <div class='toolbar'>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-calendar'></i>
                          <span>April 14, 2013</span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-user'></i>
                          <span>John Doe</span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-comments'></i>
                          <span>13 comments</span>
                        </a>
                      </div>
                      <div class='row'>
                        <div class='col-sm-12'>
                          <a href='blog_single_post.html'>
                            <img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" width="848" height="364" src="https://placehold.it/848x364" />
                          </a>
                        </div>
                        <div class='col-sm-12'>
                          <p>Aliquam erat volutpat. Duis viverra at erat ut semper. In purus nisl, luctus sed eleifend at, pellentesque ut dolor. Nunc sodales nisi sed ullamcorper pellentesque. Etiam posuere nulla eu lectus porta ullamcorper. Aenean sit amet lectus eget augue euismod ultricies eu nec risus. Vivamus hendrerit nisi commodo.</p>
                        </div>
                      </div>
                      <hr class='hr-half'>
                    </div>
                  </div>
                  <div class='row text-box'>
                    <div class='col-sm-12'>
                      <h2>Lorem ipsum dolor sit amet</h2>
                      <p>Praesent sed viverra lacus. Aliquam congue porttitor ipsum sed vulputate. Nam lacus nunc, malesuada a massa sed, commodo placerat sem. Fusce rutrum bibendum adipiscing. Donec ac justo et metus vulputate faucibus. Mauris quis massa vel urna gravida vulputate vitae eu metus. Sed in leo sed metus tempus egestas a ac massa. Nunc cursus urna ac molestie cursus. Donec non sapien neque.</p>
                      <p>Ut ipsum nisi, tempus ac iaculis ac, ultricies quis arcu. Integer tempor vitae lectus quis gravida. Mauris eget neque in lorem eleifend hendrerit vel et ligula. Ut ac viverra neque. In ullamcorper odio nec odio laoreet tempus. Cras eu sem eu purus posuere sagittis. In at dignissim quam. Pellentesque mollis, mi et condimentum hendrerit, felis justo interdum nulla, sed placerat nulla nibh et metus.</p>
                      <h2>Aliquam erat volutpat</h2>
                      <p>Etiam ac consectetur dui, id mollis neque. Phasellus rutrum augue nec convallis bibendum. Etiam vitae aliquam leo, laoreet venenatis massa. Aliquam erat volutpat. Fusce rutrum augue sit amet lobortis tempor. Duis ut malesuada augue, vel fringilla ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a justo sed tortor vehicula fringilla eget ut diam. Praesent posuere aliquam vulputate. Donec porta mi vitae felis interdum congue. Sed vitae rhoncus massa, volutpat ultrices felis. Proin eu ullamcorper urna. Nullam eu mi vel metus faucibus mollis. Nulla rutrum fermentum dui quis ullamcorper. Integer metus nunc, interdum non libero a, semper fringilla ligula.</p>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='author-box'>
                        <div class='row'>
                          <div class='col-sm-3 col-lg-2'>
                            <img alt="Author" width="165" height="165" class="img-circle img-responsive center-block" src="https://placehold.it/165x165" />
                          </div>
                          <div class='col-sm-9 col-lg-10'>
                            <h3 class='title'>About author</h3>
                            <p>Etiam ac consectetur dui, id mollis neque. Phasellus rutrum augue nec convallis bibendum. Etiam vitae aliquam leo, laoreet venenatis massa. Aliquam erat volutpat. Fusce rutrum augue sit amet lobortis tempor.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-sm-12' id='comments'>
                      <h3>
                        Comments (4)
                      </h3>
                      <div class='media'>
                        <div class='pull-left'>
                          <div class='media-object without-image'></div>
                        </div>
                        <div class='media-body'>
                          <div class='content'>
                            <div class='toolbar'>
                              <h4 class='title'>John Doe</h4>
                              <a class='btn btn-link link-contrast btn-sm' href='#'>
                                <i class='fa fa-reply'></i>
                                <span>Reply</span>
                              </a>
                            </div>
                            <p>Praesent sed viverra lacus. Aliquam congue porttitor ipsum sed vulputate. Nam lacus nunc, malesuada a massa sed, commodo placerat sem. Fusce rutrum bibendum adipiscing. Donec ac justo et metus vulputate faucibus. Mauris quis massa.</p>
                            <p class='time'>
                              <a href="#">16 April, 2013</a>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='media'>
                        <div class='pull-left'>
                          <div class='media-object without-image'></div>
                        </div>
                        <div class='media-body'>
                          <div class='content'>
                            <div class='toolbar'>
                              <h4 class='title'>David Doe</h4>
                              <a class='btn btn-link link-contrast btn-sm' href='#'>
                                <i class='fa fa-reply'></i>
                                <span>Reply</span>
                              </a>
                            </div>
                            <p>Etiam ac consectetur dui, id mollis neque. Phasellus rutrum augue nec convallis bibendum. Etiam vitae aliquam leo, laoreet venenatis massa. Aliquam erat volutpat.</p>
                            <p class='time'>
                              <a href="#">14 April, 2013</a>
                            </p>
                          </div>
                          <div class='media'>
                            <div class='pull-left'>
                              <img class="media-object" width="60" height="60" alt="Jessica Doe" src="https://placehold.it/60x60" />
                            </div>
                            <div class='media-body'>
                              <div class='content staff'>
                                <div class='toolbar'>
                                  <h4 class='title'>
                                    Jessica Doe
                                    <span class='label label-contrast'>Staff</span>
                                  </h4>
                                  <a class='btn btn-link link-contrast btn-sm' href='#'>
                                    <i class='fa fa-reply'></i>
                                    <span>Reply</span>
                                  </a>
                                </div>
                                <p>Proin eu ullamcorper urna. Nullam eu mi vel metus faucibus mollis. Nulla rutrum fermentum dui quis ullamcorper. Integer metus nunc, interdum non libero a, semper fringilla ligula.</p>
                                <p class='time'>
                                  <a href="#">14 April, 2013</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class='media'>
                        <div class='pull-left'>
                          <div class='media-object without-image'></div>
                        </div>
                        <div class='media-body'>
                          <div class='content'>
                            <div class='toolbar'>
                              <h4 class='title'>Mike Doe</h4>
                              <a class='btn btn-link link-contrast btn-sm' href='#'>
                                <i class='fa fa-reply'></i>
                                <span>Reply</span>
                              </a>
                            </div>
                            <p>Praesent sed viverra lacus. Aliquam congue porttitor ipsum sed vulputate. Nam lacus nunc, malesuada a massa sed, commodo placerat sem.</p>
                            <p class='time'>
                              <a href="#">11 April, 2013</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <hr class='hr-invisible hr-half'>
                    <div class='col-sm-12' id='add-new-comment'>
                      <h3>Add comment</h3>
                      <form action='blog_single_post.html' class='form form-validation' method='get'>
                        <div class='row'>
                          <div class='col-sm-4'>
                            <div class='form-group control-group'>
                              <input class='form-control' data-rule-required='true' id='comment_name' name='comment[name]' placeholder='Name' type='text'>
                            </div>
                          </div>
                          <div class='col-sm-4'>
                            <div class='form-group control-group'>
                              <input class='form-control' data-rule-email='true' data-rule-required='true' id='comment_email' name='comment[email]' placeholder='E-Mail' type='text'>
                            </div>
                          </div>
                          <div class='col-sm-4'>
                            <div class='form-group control-group'>
                              <input class='form-control' id='comment_website' name='comment[website' placeholder='Website' type='text'>
                            </div>
                          </div>
                        </div>
                        <div class='row'>
                          <div class='col-sm-12'>
                            <div class='form-group control-group'>
                              <textarea class='form-control' data-rule-required='true' id='comment_message' name='comment[message]' placeholder='Comment...' rows='5'></textarea>
                            </div>
                          </div>
                        </div>
                        <div class='row'>
                          <div class='col-sm-12'>
                            <button class='btn btn-contrast' type='submit'>
                              Add comment
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>
