    <div class='countdown-page'>
     <div class='container'>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='fadeInDown animated'>
              <div class='icon'>
                <i class='fa fa-rocket'></i>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='message fadeInRight animated'>
              Don't worry, we're still working on it and we're coming soon!
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='countdown fadeInDown animated' data-countdown='2017/05/25 17:00:00'>
              <div class='days countdown-item'>
                <span class='countdown-time'></span>
                <span class='countdown-label'>Days</span>
              </div>
              <div class='hours countdown-item'>
                <span class='countdown-time'></span>
                <span class='countdown-label'>Hours</span>
              </div>
              <div class='minutes countdown-item'>
                <span class='countdown-time'></span>
                <span class='countdown-label'>Minutes</span>
              </div>
              <div class='seconds countdown-item'>
                <span class='countdown-time'></span>
                <span class='countdown-label'>Seconds</span>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-6 col-sm-offset-3 fadeInDown animated'>
            <form action='#' method='get'>
              <div class='input-group'>
                <input class='form-control input-lg' placeholder='Stay in touch with us...' type='text'>
                <span class='input-group-btn'>
                  <button class='btn btn-lg btn-contrast' type='button'>
                    <i class='fa fa-envelope-o fa-lg'></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <a href='index.html'>
              <img class="logo fadeInUp animated" alt="Jednotka" width="117" height="39" src="assets/images/logo.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
