


      <div id='main' role='main'>
        <!-- / carousel blur -->


       <div class="banner" style="background-image: linear-gradient(-210deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'at/dive.jpg'%>');">
         <div>

            <h1 class='big fadeInRightBig animated'>Academia Translations</h2>
             <p class='normal fadeInLeftBig animated'> Fast, accurate and reliable translations by experts linguists </p>
         </div>
       </div>


        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <p class='lead lead-lg text-center'>Devil is on the detail, maximise your business potential with a certified interpreter</p>
              </div>
            </div>
            <div class='panels-wrapper'>
              <div class='row panels'>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-image' href='#'>
                    <div class='panel-icon'>
                      <i class='fa fa-clock-o icon'></i>
                    </div>
                    <div class='panel-heading'><img class="img-responsive-sm" alt="Project planning" width="768" height="300" src="http://placehold.it/768x300" /></div>
                    <div class='panel-body'>
                      <h3 class='panel-title'> 100% Quality </h3>
                      <p>Language is the instrument of communication, ensure its quality</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-image' href='#'>
                    <div class='panel-icon'>
                      <i class='fa fa-cog icon'></i>
                    </div>
                    <div class='panel-heading'><img class="img-responsive-sm" alt="Easy customizable" width="768" height="300" src="http://placehold.it/768x300" /></div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>Convey the right message</h3>
                      <p>Etiam init rutrum ligula semper neque relu dapibus, non tempus mauris sodales.est.</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-image' href='#'>
                    <div class='panel-icon'>
                      <i class='fa fa-rocket icon'></i>
                    </div>
                    <div class='panel-heading'><img class="img-responsive-sm" alt="Fastest workers" width="768" height="300" src="http://placehold.it/768x300" /></div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>Use the right tools </h3>
                      <p>Pellentesque id neque sit amet nibh placerat suscipit et a purus, mauris id.</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-certificate'></i>
                  <h2>
                    Our top clients
                    <small>Aliquam placerat, nunc non ullamcorper rutrum, odio urna aliquam dui, a scelerisque purus dui et libero.</small>
                  </h2>
                </div>
                <div class='row'>
                  <div class='col-sm-12'>
                    <div class='client-slideshow cycle-slideshow' data-cycle-carousel-fluid='true' data-cycle-fx='carousel' data-cycle-timeout='2000'>
                      <img alt="" width="140" height="33" src="http://placehold.it/140x33" />
                      <img alt="" width="140" height="33" src="http://placehold.it/140x33" />
                      <img alt="" width="140" height="26" src="http://placehold.it/140x26" />
                      <img alt="" width="139" height="32" src="http://placehold.it/139x32" />
                      <img alt="" width="151" height="28" src="http://placehold.it/151x28" />
                      <img alt="" width="31" height="38" src="http://placehold.it/31x38" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-quote-right'></i>
                  <h2>Testimonials</h2>
                </div>
                <div class='row quotes'>
                  <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                    <div class='carousel-inner'>
                      <div class='item active quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur. Vestibulum vitae risus a erat mollis lac in venenatis tellus.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>John Doe</strong>,
                              Company name
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan leo tellus. Nulla fringilla elementum nisl, vitae faucibus risus. Donec ut tristique eros. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Michal Marek</strong>,
                              Bublina Studio
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Aenean lorem quam, dapibus et enim vel, ultrices tincidunt tellus. Donec mattis massa et lacus interdum lobortis. Pellentesque habitant morbi tristique senectus. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Paľo Delinčák</strong>,
                              Bublina Studio
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Integer quis placerat leo, sit amet varius odio. Fusce sollicitudin metus eu eros egestas cursus ut ullamcorper augue. Integer blandit tellus a urna semper, sit amet tempor orci ornare. Mauris nec.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Jane Doe</strong>,
                              Company name
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ol class='carousel-indicators'>
                      <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='1' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='2' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='3' data-target='#carousel-testimonials'></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>




