      <div id='main' role='main'>
        <div id='main-content-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <h1 class='title'>
                  Blog (Large image)
                </h1>
                <ol class='breadcrumb'>
                  <li>
                    <a href='index.html'>
                      <i class='fa fa-home'></i>
                    </a>
                  </li>
                  <li class='active'>Blog</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12 col-sm-12 col-md-12'>
                <div class='text-boxes'>
                  <div class='row text-box text-box-title-above text-box-big-image'>
                    <div class='col-sm-12'>
                      <h2 class='title'><a href="/blog_single_post.html">Cras tempus ligula a tempor adipiscing</a></h2>
                      <div class='toolbar'>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-calendar'></i>
                          <span>April 14, 2013</span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-user'></i>
                          <span>John Doe</span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-comments'></i>
                          <span>13 comments</span>
                        </a>
                      </div>
                      <div class='row'>
                        <div class='col-sm-12'>
                          <a href='blog_single_post.html'>
                            <img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" width="848" height="364" src="http://placehold.it/848x364" />
                          </a>
                        </div>
                        <div class='col-sm-12'>
                          <p>Aliquam erat volutpat. Duis viverra at erat ut semper. In purus nisl, luctus sed eleifend at, pellentesque ut dolor. Nunc sodales nisi sed ullamcorper pellentesque. Etiam posuere nulla eu lectus porta ullamcorper. Aenean sit amet lectus eget augue euismod ultricies eu nec risus. Vivamus hendrerit nisi commodo.</p>
                          <a class='btn btn-contrast btn-bordered btn-xs' href='blog/bbc.html'>Read more</a>
                        </div>
                      </div>
                      <hr class='hr-half'>
                    </div>
                  </div>
                  <div class='row text-box text-box-title-above text-box-big-image'>
                    <div class='col-sm-12'>
                      <h2 class='title'><a href="/blog_single_post.html">Phasellus rutrum augue nec</a></h2>
                      <div class='toolbar'>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-calendar'></i>
                          <span>April 13, 2013</span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-user'></i>
                          <span>Jane Doe</span>
                        </a>
                        <a class='btn btn-link' href='#'>
                          <i class='fa fa-comments'></i>
                          <span>24 comments</span>
                        </a>
                      </div>
                      <div class='row'>
                        <div class='col-sm-12'>
                          <a href='blog_single_post.html'>
                            <img class="img-responsive center-block img-rounded-half" alt="Phasellus rutrum augue nec" width="848" height="364" src="http://placehold.it/848x364" />
                          </a>
                        </div>
                        <div class='col-sm-12'>
                          <p>Praesent sed viverra lacus. Aliquam congue porttitor ipsum sed vulputate. Nam lacus nunc, malesuatda a massa sed, commodo placerat sem. Fusce rutrum bibendum adipiscing. Donec ac justo et metus vulputate faucibus. Mauris quis massa vel urna gravida. Nunc cursus urna ac molestie cursus. Donec non sapien neque.</p>
                          <a class='btn btn-contrast btn-bordered btn-xs' href='blog_single_post.html'>Read more</a>
                        </div>
                      </div>
                      <hr class='hr-half'>
                    </div>
                  </div>

                </div>
              </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>
    </div>
