
      <div id='main' role='main'>

      <div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.0) 0%, rgba(0,36,61,0.2) 50%), url('<%= cl_image_path("at/blurry.jpg", :client_hints=>true, :transformation=>[:dpr=>"auto", :gravity=>"", :crop=>"fill"}]) %>');">
        <div>
           <h1 class='big fadeInRightBig animated'>Media</h2>
        </div>
      </div>
        <div id='main-content'>
          <div class='container'>


            <div class='row'>
              <div class='col-sm-12'>
                <div class='text-center'>
                </div>
                <div class='row'>
                  <div class='col-sm-12'>
                    <p class='lead lead-xs'>
                   At Academia Translations we are passionate about the past, present and future of languages. Our director, Olivia, is a spokesperson for the Chartered Institute of Linguists and welcomes invitations from the media to discuss any language related topic. <br> <br>

                   Appearances to date include:



                   <br>
                    </p>

                  </div>
                </div>
              </div>
              <div class='col-sm-12'>
                <div class='text-boxes'>
                  <div class='row text-box text-box-title-above'>
                    <div class='col-sm-12'>
                      <h2> BBC Breakfast </h2>
                      <div class='toolbar'>
                        <div class='btn btn-link'>
                          <i class='fa fa-calendar'></i>
                          <span>April 14, 2011</span>
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-sm-3'>

                            <%= image_tag('at/bbc.jpg', :class => "img-responsive center-block img-rounded-half") %>

                        </div>
                        <div class='col-sm-9'>
                          <p>Olivia Cockburn joined Susanna Reid and Bill Turnball on the BBC1 breakfast show to discuss the release of AD 61, a short film in Latin for which she was language consultant and script translator. Also discussed was Latin and its role in the 21st century. </p>

                        </div>
                      </div>
                      <hr class='hr-half'>
                    </div>
                  </div>
                  <div class='row text-box text-box-title-above'>
                    <div class='col-sm-12'>
                      <h2> AD 61: The Latin Tapes</h2>
                      <div class='toolbar'>
                        <div class='btn btn-link'>
                          <i class='fa fa-calendar'></i>
                          <span>Sep 8, 2010</span>
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-sm-3'>

                            <iframe class="img-responsive center-block img-rounded-half" src="https://www.youtube.com/embed/cysu-MF8Xcg" frameborder="0" allowfullscreen></iframe>

                        </div>
                        <div class='col-sm-9'>
                          <p>Olivia Cockburn was the language consultant  and voice coach for this short film in Latin directed by George Sharpley of Lingua UK. The film, a “talking heads” style piece featuring different members of society from the first century AD in Rome, required a detailed and scrupulous reconstruction of the different Latin accents and features used at the time. (You may spot Olivia acting in the film too!).</p>

                        </div>
                      </div>
                      <hr class='hr-half'>
                    </div>
                  </div>
                  <div class='row text-box text-box-title-above'>
                    <div class='col-sm-12'>
                      <h2> UCB UK National Radio</h2>
                      <div class='toolbar'>
                        <div class='btn btn-link'>
                          <i class='fa fa-calendar'></i>
                          <span>May 3, 2013</span>
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-sm-3'>


                            <%= cl_video_tag("at/accent_int_for_Olivia",
                              :height => 50,
                              :controls => true,
                              :class => "img-responsive center-block img-rounded-half small-height",
                              :fallback_content => "Your browser does not support HTML5 video tags" ) %>


                        </div>
                        <div class='col-sm-9'>
                          <p>Following an article in the media on the cultural connotations of certain accents, Olivia was spokesperson for the Chartered Institute of Linguists in this interview on sociolinguistics and the place that different accents have in society. </p>

                        </div>
                      </div>
                      <hr class='hr-half'>
                    </div>
                  </div>
                  <div class='row text-box text-box-title-above'>
                    <div class='col-sm-12'>
                      <h2>TVE Spanish Television</h2>
                      <div class='toolbar'>
                        <div class='btn btn-link'>
                          <i class='fa fa-calendar'></i>
                          <span>Sept 1, 2015</span>
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-sm-3'>
                            <div>
                            <%= cl_video_tag("at/Saca_la_lengua1",
                              :crop => "fill",
                              :controls => true,
                              :class => "img-responsive center-block img-rounded-half",
                              :fallback_content => "Your browser does not support HTML5 video tags" ) %>
                            </div>
                        </div>
                        <div class='col-sm-9'>
                          <p>Spanish is one of Latin's direct descendants and it may be argued that is just an "evolved" form of Latin with a different name. In this interview with TVE's programme "Saca la Lengua", Olivia discusses the use of Latin terms in Spanish.


                           </p>

                        </div>
                      </div>
                      <hr class='hr-half'>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
      </div>





