
<div id='main' role='main'>

  <div class="banner-small" style="background-image: linear-gradient(-210deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'at/puzzle.jpg'%>');">
    <div>
       <h1 class='big fadeInRightBig animated'>Services</h2>
    </div>
  </div>

  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='text-center'>
            <h2>
              TOP SERVICES
            </h2>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <p class='lead lead-xs text-center'>
              <br/>
              Academia Translations specialises in Spanish > English and English > Spanish translation. <br/>
              </p>

            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="panel-group accordion" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#accordion-item-1" aria-expanded="true">
                    Spanish
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse in" id="accordion-item-1" aria-expanded="true">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis dapibus.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#accordion-item-2" aria-expanded="false">
                    English
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion-item-2" aria-expanded="false">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis dapibus.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#accordion-item-3" aria-expanded="false">
                    Portuguese
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion-item-3" aria-expanded="false">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis dapibus.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#accordion-item-3" aria-expanded="false">
                    German
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion-item-3" aria-expanded="false">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis dapibus.
                </div>
              </div>
            </div>
          </div>
      </div>

        <div class="col-xs-12 col-sm-6">
          <div class="panel-group accordion" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#accordion-item-1" aria-expanded="true">
                    French
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse in" id="accordion-item-4" aria-expanded="true">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis dapibus.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#accordion-item-2" aria-expanded="false">
                    Italian
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion-item-5" aria-expanded="false">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis dapibus.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#accordion-item-3" aria-expanded="false">
                    Catalan
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion-item-6" aria-expanded="false">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis dapibus.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#accordion-item-3" aria-expanded="false">
                    Latin
                  </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion-item-6" aria-expanded="false">
                <div class="panel-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis dapibus.
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-cloud'></i>
            <h2>
              Other services
            </h2>
          </div>
          <div class='icon-boxes icon-boxes-lg'>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-truck text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>academia </h3>
                  <p>doctoral theses, research proposals, reports and abstracts, journal articles</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-wrench text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Technical Translation</h3>
                  <p>Nulla consectetur turpis a ante tristique feugiat. In venenatis pellentesque leo vehicula consequat. Maecenas elementum velit ut leo imperdiet vehicula.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-wrench text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Financial Translation </h3>
                  <p>Nulla consectetur turpis a ante tristique feugiat. In venenatis pellentesque leo vehicula consequat. Maecenas elementum velit ut leo imperdiet vehicula.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-wrench text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Legal Translation </h3>
                  <p>Nulla consectetur turpis a ante tristique feugiat. In venenatis pellentesque leo vehicula consequat. Maecenas elementum velit ut leo imperdiet vehicula.</p>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-tag text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Medical Translation</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed massa quis elit sagittis tempor. Ut rutrum sem vel augue rhoncus vestibulum.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-shield text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Commercial Translation</h3>
                  <p>Cras aliquam accumsan lorem, ac cursus orci molestie eget. Ut nec ultricies augue. Vestibulum lobortis enim felis, non semper arcu convallis at.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-shield text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>marketing translation</h3>
                  <p>Cras aliquam accumsan lorem, ac cursus orci molestie eget. Ut nec ultricies augue. Vestibulum lobortis enim felis, non semper arcu convallis at.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-shield text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>marketing translation</h3>
                  <p>Cras aliquam accumsan lorem, ac cursus orci molestie eget. Ut nec ultricies augue. Vestibulum lobortis enim felis, non semper arcu convallis at.</p>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-group text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Customers</h3>
                  <p>Pellentesque sit amet est sit amet eros consectetur elementum sed et mauris. Pellentesque interdum eu elit nec imperdiet.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-trophy text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Great results</h3>
                  <p>Nulla consectetur turpis a ante tristique feugiat. In venenatis pellentesque leo vehicula consequat. Maecenas elementum velit ut leo imperdiet vehicula.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-star'></i>
            <h2>Top features</h2>
          </div>
          <div class='text-boxes'>
            <div class='row text-box'>
              <div class='col-sm-6'><img class="img-responsive center-block" alt="Lorem ipsum dolor sit amet" width="340" height="188" src="http://placehold.it/340x188" /></div>
              <div class='col-sm-6'>
                <h3 class='title'><a href="#">Lorem ipsum dolor sit amet</a></h3>
                <p>Translations may be certified and legalised as requested.</p>

              </div>
            </div>
            <hr>
            <div class='row text-box'>
              <div class='col-sm-6 col-sm-push-6'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" width="330" height="183" src="http://placehold.it/330x183" /></div>
              <div class='col-sm-6 col-sm-pull-6'>
                <h3 class='title'><a href="#">Praesent vitae adipiscing nunc</a></h3>
                <p>All translations are carried out by first class linguists with experience in the field for which they are translating. We treat all documents sent to us with the utmost confidentiality and all of our translators sign non-disclosure agreements. For more information or if you have any questions, please contact us.</p>
              </div>
            </div>
          </div>
        </div>
      </div

      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-leaf'></i>
            <h2>
              What means to us
            </h2>
          </div>
          <div class='row panels'>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-clock-o icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'>Customer</h3>
                  <p>Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie.</p>
                </div>
              </a>
            </div>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-cog icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'>Pleasure</h3>
                  <p>Donec id massa sodales, blandit nulla vel, aliquet velit. Nullam ultricies ut ligula non ultricies. Ut fermentum dui a metus.</p>
                </div>
              </a>
            </div>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-rocket icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'>Results</h3>
                  <p>Aenean adipiscing rhoncus nulla ut sagittis. Curabitur vitae libero sagittis, placerat dolor eget, vestibulum sem.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>






