<div id='main' role='main'>
  <div id='main-content-header'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <h1 class='title'>
            Services
            <small>Vivamus bibendum hendrerit metus.</small>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon no-mg-t'>
            <i class='fa fa-briefcase'></i>
            <h2>
              Top services
              <small>Mauris feugiat lacus quis aliquet dapibus. Sed venenatis turpis quis neque egestas porttitor.</small>
            </h2>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-cloud'></i>
            <h2>
              Other services
            </h2>
          </div>
          <div class='icon-boxes icon-boxes-lg'>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-truck text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Shipping</h3>
                  <p>Curabitur id ante at diam consectetur mattis. Donec tristique est turpis, et dapibus odio accumsan non. Donec rutrum sodales interdum.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-wrench text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Technical support</h3>
                  <p>Nulla consectetur turpis a ante tristique feugiat. In venenatis pellentesque leo vehicula consequat. Maecenas elementum velit ut leo imperdiet vehicula.</p>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-tag text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Warranty</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed massa quis elit sagittis tempor. Ut rutrum sem vel augue rhoncus vestibulum.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-shield text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Security</h3>
                  <p>Cras aliquam accumsan lorem, ac cursus orci molestie eget. Ut nec ultricies augue. Vestibulum lobortis enim felis, non semper arcu convallis at.</p>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-group text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Customers</h3>
                  <p>Pellentesque sit amet est sit amet eros consectetur elementum sed et mauris. Pellentesque interdum eu elit nec imperdiet.</p>
                </div>
              </div>
              <div class='col-sm-6 icon-box'>
                <div class='icon icon-wrap icon-circle icon-lg contrast-bg'>
                  <i class='fa fa-trophy text-white'></i>
                </div>
                <div class='content'>
                  <h3 class='title'>Great results</h3>
                  <p>Nulla consectetur turpis a ante tristique feugiat. In venenatis pellentesque leo vehicula consequat. Maecenas elementum velit ut leo imperdiet vehicula.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-star'></i>
            <h2>Top features</h2>
          </div>
          <div class='text-boxes'>
            <div class='row text-box'>
              <div class='col-sm-6'><img class="img-responsive center-block" alt="Lorem ipsum dolor sit amet" width="340" height="188" src="http://placehold.it/340x188" /></div>
              <div class='col-sm-6'>
                <h3 class='title'><a href="#">Lorem ipsum dolor sit amet</a></h3>
                <p>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur. Vestibulum vitae risus a erat mollis lac in venenatis tellus. Morbi et tristique lacus.</p>
                <a class='btn btn-contrast btn-bordered btn-sm' href='#'>Read more</a>
              </div>
            </div>
            <hr>
            <div class='row text-box'>
              <div class='col-sm-6 col-sm-push-6'><img class="img-responsive center-block" alt="Praesent vitae adipiscing nunc" width="330" height="183" src="http://placehold.it/330x183" /></div>
              <div class='col-sm-6 col-sm-pull-6'>
                <h3 class='title'><a href="#">Praesent vitae adipiscing nunc</a></h3>
                <p>Integer fringtilla fringilla mauris eget accumsan. Nullam quis consequat ipsum, eu cursus mi. Donec quis quam at risus viverra venenatis. Phasellus non nulla tortor. Fusce congue enim sed ullamcorper cursus. Donec tincidunt elit sed felis iaculis laoreet.</p>
                <a class='btn btn-contrast btn-bordered btn-sm' href='#'>Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div

      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-leaf'></i>
            <h2>
              What means to us
            </h2>
          </div>
          <div class='row panels'>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-clock-o icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'>Customer</h3>
                  <p>Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium, eu tincidunt nulla molestie.</p>
                </div>
              </a>
            </div>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-cog icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'>Pleasure</h3>
                  <p>Donec id massa sodales, blandit nulla vel, aliquet velit. Nullam ultricies ut ligula non ultricies. Ut fermentum dui a metus.</p>
                </div>
              </a>
            </div>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-rocket icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'>Results</h3>
                  <p>Aenean adipiscing rhoncus nulla ut sagittis. Curabitur vitae libero sagittis, placerat dolor eget, vestibulum sem.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>






